:root {
  --FF9900: #FF9900;
  --FFB84D: #FFB84D;
  --E1670E: #E1670E;
  --CACACA: #CACACA;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1800px;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* header */

.section-header {
  height: 100px;
  margin-bottom: 50px;
}

.section-header__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.section-header__wrapper {
  display: flex;
  align-items: center;
  width: 1770px;
  margin: auto;
}

.section-header__burger {
  display: none;
}

.section-header__burger:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.section-header__burger:active .burger__svg rect {
  fill: var(--E1670E);
}

.section-header__burger:active .burger__line_1 {
  x: 5px;
  width: 25px;
}

.section-header__burger:active .burger__line_2 {
  x: 12px;
  width: 18px;
}

.section-header__logo {
  margin-right: auto;
}  

.section-header__nav-list {
  display: flex;
  align-items: center;
  margin-right: 260px;
}  

.nav-list__item:not(:last-child) {
  margin-right: 85px;
}

.nav-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border-bottom: 2px solid #fff;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.nav-list__link:hover {
  border-color: var(--FF9900);
}

.nav-list__link:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.nav-list__link:active {
  color: var(--E1670E);
  border-bottom: 2px solid var(--E1670E);
}

.section-header__search {
  padding: 0;
  max-height: 32px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.section-header__search-svg path {
  transition: stroke .3s ease;
}

.section-header__search-svg rect {
  transition: fill .3s ease;
}

.section-header__search:hover .section-header__search-svg path {
  stroke: var(--FF9900);
}

.section-header__search:hover .section-header__search-svg rect {
  fill: var(--FF9900);
}

.section-header__search:focus {
  padding: 2px;
  outline: none;
  border: 2px solid var(--FF9900);
}

/*hero*/

.section-hero {
  margin-bottom: 50px;
}

.section-hero__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 100px 80px 30px 80px;
  background-image: url('../img/low-angle-photo-of-balconies-2462015 1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.section-hero__content {
  max-width: 837px;
  margin-bottom: 55px;
}

.section-hero__heading {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
}

.section-hero__text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.section__btn {
  display: inline-block;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background: var(--FF9900);
  border-radius: 16px;
  color: #fff;
  transition: background .3s ease;
}

.section__btn:hover, .section__btn:focus {
  outline: none;
  background: var(--FFB84D);
}

.section__btn:active {
  background: var(--E1670E);
}

.section-hero__pointers {
  display: flex;
  justify-content: center;
}

.section-hero__pointer {
  width: 15px;
  height: 15px;
  margin-right: 20px;
  background-color: #fff;
  border-radius: 50%;
}

.section-hero__pointer:not(:first-child) {
  opacity: .6;
}

.section-hero__pointer:last-child {
  margin-right: 0;
}


/* about us */

.section-about-us {
  margin-bottom: 100px;
}

.section__heading {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-about__text {
  max-width: 1235px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-about__bottom {
  display: flex;
  justify-content: space-between;
}

.section-about__left {
  position: relative;
  max-height: 622px;
}

.section-about__left-wrapper {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, .5);
  border-radius: 32px;
}

.section-about__left-text {
  max-width: 433px;
  margin-right: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.section-about__btn {
  padding: 17px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 3px solid var(--FF9900);
  border-radius: 16px;
  color: #fff;
  transition-property: background, border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-about__btn:hover, .section-about__btn:focus {
  background: var(--FF9900);
  outline: none;
  color: #fff;
}

.section-about__btn:active {
  background: var(--E1670E);
  border-color: var(--E1670E);
  color: #fff;
}

.section-about__right {
  display: flex;
  flex-direction: column;
}

.section-about__right_item {
  display: flex;
  border: 1px solid var(--CACACA);
  border-radius: 32px;
}

.section-about__right_consultation {
  padding: 64px 117px 64px 59px;
  margin-bottom: 32px;
}

.section-about__right_pursuit {
  padding: 64px 119px 64px 59px;
}

.section-about__right_item1, .section-about__right_item2 {
  display: flex;
}

.section-about__right_item1::before {
  content: url('../img/about1.svg');
  max-height: 165px;
  margin-right: 50px;
}

.section-about__right_item2::before {
  content: url('../img/about2.svg');
  max-height: 165px;
  margin-right: 50px;
}

.section-about__right_item2::before {
  content: url('../img/about2.svg');
  max-height: 165px;
  margin-right: 50px;
}

.section-about__right-heading {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.section-about__right-text {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* how do we work*/ 

.section-how-do-we-work {
  margin-bottom: 111px;
}

.section-how__heading {
  margin-bottom: 50px;
}

.section-how__steps {
  display: flex;
  margin-bottom: 45px;
}

.steps__item:not(:last-child) {
  margin-right: 86px;
}

.steps__item:first-child {
  margin-right: 85px;
}

.steps__link {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  transition: color .3s ease;
}

.steps__link:hover {
  color: var(--FF9900);
}

.steps__link:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.steps__link:active {
  color: var(--E1670E);
}

.section-how__step {
  display: flex;
  flex-direction: column;
  background-image: url('../img/how-step1.jpg');
  background-repeat: no-repeat;
  background-position: right bottom;
}

.step__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.step__text {
  max-width: 758px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-how__btn_more {
  margin-right: 30px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.section-how__btn_treaty {
  display: inline-block;
  padding: 19px 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 16px;
  transition-property: background, color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-how__btn_treaty:hover, .section-how__btn_treaty:focus {
  outline: none;
  background: #666;
  border-color: #666;
  color: #fff;
}

.section-how__btn_treaty:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

/* questions*/

.section-questions {
  margin-bottom: 100px;
}

.section-questions__heading {
  margin-bottom: 32px;
}

.section-questions__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 39px 0;
  border-bottom: 1px solid var(--CACACA);
  transition: border-color .3s ease;
}

.section-questions__list-item:first-child {
  border-top: 1px solid var(--CACACA);
}

.section-questions__question {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  transition: color .3s ease;
}

.section-questions__svg ellipse, .section-questions__svg path {
  transition: fill .3s ease;
}

.section-questions__svg {
  cursor: pointer;
  transition: transform .2s ease;
}

.section-questions__list-item:hover, .section-questions__list-item:focus {
  border-color: var(--FF9900);
}

.section-questions__list-item:hover .section-questions__question, .section-questions__list-item:focus .section-questions__question {
  color: var(--FF9900);
}

.section-questions__svg:hover ellipse, .section-questions__svg:focus ellipse {
  fill: var(--FF9900);
}

.section-questions__svg:hover path, .section-questions__svg:focus path {
  fill: #fff;
}

.section-questions__svg:active {
  transform: rotate(45deg);
}

/* footer*/ 

.section-footer {
  padding: 50px 0;
  background: #000;
}

.section-footer__container {
  display: flex;
}

.section-footer__connection {
  margin-right: 349px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.connection__logo {
  margin-bottom: 20px;
  width: 224px;
  height: 72px;
}

.connection__list {
  margin-bottom: 90px;
}

.connection__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap;
  color: var(--CACACA);
  transition: color .3s ease;
}

.connection__social_ok {
  margin-right: 22px;
}  

.social__svg path {
  transition: fill .3s ease;
}

.section-footer__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-footer__heading {
  margin-bottom: 25px;
  color: var(--CACACA);
}

.section-footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 570px;
  margin-bottom: 25px;
  padding: 14px 0 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  border-radius: 16px;
  border: none;
  color: #fff;
  transition: background .3s ease;
}

.form__input::placeholder {
  color: var(--CACACA);
}

.form__input_message {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.form__button {
  position: relative;
}

.form__btn {
  margin-right: 21px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border: none;
}

.form__confirm {
  position: absolute;
  top: 22px;
  bottom: 22px;
  z-index: -1;
  opacity: 0;
}

.form__confirm_label::before {
  content: url('../img/form.svg');
  margin-right: 4px;
  cursor: pointer;
}

.form__confirm:checked + label::before {
  content: url('../img/Check.svg');
}

.form__confirm_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--CACACA);
}

.section-footer__right {
  display: flex;
  align-items: center;
  margin-left: 236px;
  width: 363px;
}

.section-footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--CACACA);
}

.connection__link:hover {
  color: var(--FF9900);
}

.connection__link:focus {
  padding: 0 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.connection__link:active {
  color: var(--E1670E);
}

.connection__social:hover .social__svg path {
  fill: var(--FF9900);
}

.connection__social:focus {
  padding: 49px 5px 2px 5px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.connection__social:active .social__svg path {
  fill: var(--E1670E);
}

.form__input:hover, .form__input:focus, .form__input:active {
  background: #666;
  outline: none;
}

@media (max-width: 320px) {
  .section-header {
    height: 69px;
    margin-bottom: 30px;
  }

  .section-header__container {
    border-radius: 0 0 16px 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  }

  .section-header__logo {
    margin: auto;
  }

  .section-header__logo, .section-header__logo-img {
    width: 110px;
    height: 35px;
  }

  .section-header__nav-list {
    display: none;
  }

  .section-header__burger {
    display: flex;
  }

  .section-hero {
    margin-bottom: 60px;
  }

  .section-hero__container {
    width: 100%;
  }

  .section-hero__wrapper {
    align-items: center;
    padding: 60px 21px 15px 22px;
    border-radius: 16px;
  }

  .section-hero__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 34px;
  }

  .section-hero__heading {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .section-hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .section-hero__btn {
    margin: auto;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-hero__pointer {
    width: 10px;
    height: 10px;
  }

  .section-about-us {
    margin-bottom: 61px;
  }

  .section-about__container {
    width: 100%;
  }

  .section__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section-about__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-about__bottom {
    flex-direction: column;
  }

  .section-about__left {
    margin-bottom: 32px;
  }

  .section-about__img {
    width: 290px;
    height: 200px;
    margin-bottom: 4px;
    border-radius: 16px;
  }

  .section-about__left-wrapper {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }

  .section-about__left-text {
    margin-bottom: 12px;
    margin-right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000;
  }

  .section-about__btn {
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
    color: var(--FF9900);
    border: 2px solid var(--FF9900);
    border-radius: 8px;
  }

  .section-about__right_item {
    padding: 0;
    flex-direction: column;
    border: none;
  }

  .section-about__right_item1, .section-about__right_item2 {
    flex-direction: column;
  }

  .section-about__right_item1::before {
    content: url('../img/about1-320.svg');
    margin-bottom: 8px;
  }

  .section-about__right_item2::before {
    content: url('../img/about2-320.svg');
    margin-bottom: 8px;
  }

  .section-about__right-heading {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .section-about__right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  /* how */

  .section-how-do-we-work {
    margin-bottom: 60px;
  }

  .section-how__container {
    width: 100%;
  }

  .section-how__heading {
    margin-bottom: 20px;
  }

  .section-how__steps {
    margin-bottom: 14px;
  }

  .steps__item:not(:last-child) {
    margin-right: 44px;
  }

  .steps__link {
    font-size: 14px;
    line-height: 17px;
  }

  .section-how__step {
    padding-top: 176px;
    background-position: top;
    background-size: 290px 160px;
    border-radius: 16px;
  }

  .step__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .step__text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-how__buttons {
    display: flex;
  }

  .section-how__btn {
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-how__btn_more {
    padding: 12px 44px;
    margin-right: 10px;
    font-weight: 700;
  }
  
  .section-how__btn_treaty {
    padding: 11px 31px;
    font-weight: 400;
  }

  /* questions */
  .section-questions {
    margin-bottom: 60px;
  }

  .section-questions__container {
    width: 100%;
  }

  .section-questions__heading {
    margin-bottom: 16px;
  }
  
  .section-questions__list-item {
    padding: 30px 0;
  }

  .section-questions__question {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .section-questions__question:nth-child(-n + 2) {
    max-width: 241px;
  }
  .section-questions__span {
    display: block;
  }

  .section-questions__svg {
    width: 30px;
    height: 30px;
  }

}