:root {
  --FF9900: #FF9900;
  --FFB84D: #FFB84D;
  --E1670E: #E1670E;
  --CACACA: #CACACA;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 1800px;
  margin: auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

/* header */

.section-header {
  height: 100px;
  margin-bottom: 50px;
}

.section-header__container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
}

.section-header__wrapper {
  display: flex;
  align-items: center;
  width: 1770px;
  margin: auto;
}

.section-header__burger {
  display: none;
}

.section-header__burger:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.section-header__burger:active .burger__svg rect {
  fill: var(--E1670E);
}

.section-header__burger:active .burger__line_1 {
  x: 5px;
  width: 25px;
}

.section-header__burger:active .burger__line_2 {
  x: 12px;
  width: 18px;
}

.section-header__logo {
  margin-right: auto;
}  

.section-header__nav-list {
  display: flex;
  align-items: center;
  margin-right: 260px;
}  

.nav-list__item:not(:last-child) {
  margin-right: 85px;
}

.nav-list__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  border-bottom: 2px solid #fff;
  transition-property: color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.nav-list__link:hover {
  border-color: var(--FF9900);
}

.nav-list__link:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.nav-list__link:active {
  color: var(--E1670E);
  border-bottom: 2px solid var(--E1670E);
}

.section-header__search {
  padding: 0;
  max-height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.section-header__search-svg path {
  transition: stroke .3s ease;
}

.section-header__search-svg rect {
  transition: fill .3s ease;
}

.section-header__search:hover .section-header__search-svg path {
  stroke: var(--FF9900);
}

.section-header__search:hover .section-header__search-svg rect {
  fill: var(--FF9900);
}

.section-header__search:focus {
  max-height: 32px;
  padding: 2px;
  outline: none;
  border: 2px solid var(--FF9900);
}

/*hero*/

.section-hero {
  margin-bottom: 50px;
}

.section-hero__container {
  position: relative;
}

.swiper {
  width: 100%;
  max-height: 620px;
}

.section-hero__wrapper {
  position: absolute;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 100px 0 0 80px;
  z-index: 1;
}

.section-hero__content {
  max-width: 837px;
}

.section-hero__heading {
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: #fff;
}

.section-hero__text {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #fff;
}

.section__btn {
  display: inline-block;
  padding: 25px 39px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  background: var(--FF9900);
  border-radius: 16px;
  color: #fff;
  transition: background .3s ease;
}

.section__btn:hover, .section__btn:focus {
  outline: none;
  background: var(--FFB84D);
}

.section__btn:active {
  background: var(--E1670E);
}


/* about us */

.section-about-us {
  margin-bottom: 96px;
}

.section__heading {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.section-about__text {
  max-width: 1235px;
  margin-bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-about__bottom {
  display: flex;
  justify-content: space-between;
}

.section-about__left {
  position: relative;
}

.section-about__left-wrapper {
  position: absolute;
  bottom: 4px;
  display: flex;
  align-items: center;
  padding: 50px;
  background: rgba(0, 0, 0, .5);
  border-radius: 32px;
}

.section-about__left-text {
  max-width: 433px;
  margin-right: 160px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #fff;
}

.section-about__btn {
  padding: 17px 35px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  border: 3px solid var(--FF9900);
  border-radius: 16px;
  color: #fff;
  transition-property: background, border-color, color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-about__btn:hover, .section-about__btn:focus {
  background: var(--FF9900);
  outline: none;
  color: #fff;
}

.section-about__btn:active {
  background: var(--E1670E);
  border-color: var(--E1670E);
  color: #fff;
}

.section-about__right {
  display: flex;
  flex-direction: column;
}

.section-about__right_item {
  display: flex;
  border: 1px solid var(--CACACA);
  border-radius: 32px;
}

.section-about__right_consultation {
  padding: 64px 117px 64px 59px;
  margin-bottom: 32px;
}

.section-about__right_pursuit {
  padding: 64px 119px 64px 59px;
}

.section-about__right_item1, .section-about__right_item2 {
  display: flex;
  padding-left: 240px;
  background-position: left;
  background-repeat: no-repeat;
}

.section-about__right_item1 {
  background-image: url('../img/about1.svg');
  /* max-height: 165px; */
}

.section-about__right_item2 {
  background-image: url('../img/about2.svg');
  /* max-height: 165px; */
}

.section-about__right-heading {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}

.section-about__right-text {
  max-width: 450px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

/* how do we work*/ 

.section-how-do-we-work {
  margin-bottom: 111px;
}

.section-how__heading {
  margin-bottom: 50px;
}

.section-how__tabs {
  display: flex;
  margin-bottom: 45px;
}

.tabs__step {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #000;
  cursor: pointer;
  transition: color .3s ease;
}

.tabs__active {
  color: var(--E1670E);
}

.tabs__step:not(:last-child) {
  margin-right: 86px;
}

.tabs__step:first-child {
  margin-right: 85px;
}

.tabs__step:hover {
  color: var(--FF9900);
}

.tabs__step:focus {
  padding: 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.tabs__step:active {
  color: var(--E1670E);
}

.section-how__content {
  position: relative;
  min-height: 470px;
}

.section-how__step {
  display: flex;
  flex-direction: column;
}

.step__content {
  display: none;
}

.step__content_active {
  display: block;
}

.step__img-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.step__content_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.step__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.step__text {
  max-width: 758px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.section-how__buttons {
  position: absolute;
  bottom: 0;
}

.section-how__btn_more {
  margin-right: 30px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.section-how__btn_treaty {
  display: inline-block;
  padding: 19px 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  border: 1px solid #000;
  border-radius: 16px;
  transition-property: background, color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.section-how__btn_treaty:hover, .section-how__btn_treaty:focus {
  outline: none;
  background: #666;
  border-color: #666;
  color: #fff;
}

.section-how__btn_treaty:active {
  background: #000;
  border-color: #000;
  color: #fff;
}

/* questions*/

.section-questions {
  margin-bottom: 100px;
}

.section-questions__heading {
  margin-bottom: 32px;
}

.section-questions__list {
  border-bottom: 1px solid var(--CACACA);
}

.section-questions__list-item, .ui-state-default {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border: none;
  border-top: .5px solid var(--CACACA);
  transition: border-color .3s ease;
}

.ui-accordion-header-icon .ui-icon .ui-icon-triangle-1-e {
  display: none;
}

.ui-icon {
  display: none;
}

.ui-accordion .ui-accordion-header {
  display: flex;
  margin: 0;
}

.section-questions__answer {
  color: #000;
  border: none;
  border-bottom: .5px solid var(--CACACA);
}

.section-questions__question {
  padding: 39px 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #000;
  transition: color .3s ease;
}

.ui-accordion .ui-accordion-content {
  padding: 0;
  height: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  overflow-y: hidden;
}

.ui-accordion .ui-accordion-header {
  padding: 0;
}

.section-questions__answer_1 {
  margin-bottom: 32px;
  max-width: 1003px;
}

.section-questions__answer_2 {
  margin-bottom: 40px;
  max-width: 1003px;
}

.ui-widget {
  font-family: inherit;
}

.section-questions__svg ellipse, .section-questions__svg path {
  transition: fill .3s ease;
}

.section-questions__svg {
  cursor: pointer;
  transition: transform .2s ease;
}

.section-questions__list-item:hover {
  border-color: var(--FF9900);
}

.section-questions__list-item:hover .section-questions__question {
  color: var(--FF9900);
}

.section-questions__list-item:hover .section-questions__svg ellipse {
  fill: var(--FF9900);
}

.section-questions__list-item:hover .section-questions__svg path {
  fill: #fff;
}

.section-questions__list-item:focus .section-questions__svg {
  transform: rotate(45deg);
}

/* .section-questions__list-item:active .section-questions__svg {
  transform: rotate(45deg);
} */

/* footer*/ 

.section-footer {
  padding: 50px 0;
  background: #000;
}

.section-footer__container {
  display: flex;
}

.section-footer__connection {
  margin-right: 349px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.connection__logo {
  margin-bottom: 20px;
  width: 224px;
  height: 72px;
}

.connection__list {
  margin-bottom: 90px;
}

.connection__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  white-space: nowrap;
  color: var(--CACACA);
  transition: color .3s ease;
}

.connection__socials {
  display: flex;
}

.connection__social_ok {
  margin-right: 22px;
}  

.social__svg path {
  transition: fill .3s ease;
}

.section-footer__center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-footer__heading {
  margin-bottom: 25px;
  color: var(--CACACA);
}

.section-footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__input {
  width: 570px;
  margin-bottom: 25px;
  padding: 14px 0 14px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background: #414141;
  border-radius: 16px;
  border: none;
  color: #fff;
  transition: background .3s ease;
}

.form__input::placeholder {
  color: var(--CACACA);
}

.form__input_message {
  margin-bottom: 32px;
  height: 150px;
  resize: none;
}

.form__button {
  display: flex;
  align-items: center;
}

.form__btn {
  margin-right: 21px;
  padding: 19px 52px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  cursor: pointer;
  border: none;
}

.form__check {
  position: relative;
  display: flex;
  align-items: center;
}

.form__confirm {
  position: absolute;
  top: 8px;
  bottom: 10px;
  z-index: -1;
  opacity: 0;
}

.form__confirm_label::before {
  content: url('../img/form.svg');
  margin-right: 4px;
  cursor: pointer;
}

.form__confirm:checked + label::before {
  content: url('../img/Check.svg');
}

.form__confirm_label {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--CACACA);
}

.section-footer__right {
  display: flex;
  align-items: center;
  margin-left: 236px;
  width: 363px;
}

.section-footer__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--CACACA);
}

.connection__link:hover {
  color: var(--FF9900);
}

.connection__link:focus {
  padding: 0 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.connection__link:active {
  color: var(--E1670E);
}

.connection__social:hover .social__svg path {
  fill: var(--FF9900);
}

.connection__social:focus {
  padding: 3px 3px 0 3px;
  outline: none;
  border: 2px solid var(--FF9900);
}

.connection__social:active .social__svg path {
  fill: var(--E1670E);
}

.form__input:hover, .form__input:focus, .form__input:active {
  background: #666;
  outline: none;
}

@media (max-width: 320px) {
  .section-header {
    height: 69px;
    margin-bottom: 30px;
  }

  .section-header__container {
    border-radius: 0 0 16px 16px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .1);
  }

  .section-header__logo {
    margin: auto;
  }

  .section-header__logo, .section-header__logo-img {
    width: 110px;
    height: 35px;
  }

  .section-header__nav-list {
    display: none;
  }

  .section-header__burger {
    display: flex;
  }

  /* hero */

  .section-hero {
    margin-bottom: 60px;
  }

  .section-hero__container {
    width: 100%;
  }

  .swiper {
    height: 308px;
    border-radius: 16px;
  }

  .swiper-slide {
    max-width: 383px;
    max-height: 308px;
  }

  .swiper-slide img {
    border-radius: 16px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-hero__wrapper {
    bottom: 59px;
    left: 15px;
    right: 15px;
    align-items: center;
    padding: 60px 21px 0 22px;
    border-radius: 16px;
  }

  .section-hero__content {
    max-width: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-hero__heading {
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .section-hero__text {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
  }

  .section-hero__btn {
    margin: auto;
    padding: 13px 28px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-hero__pointer {
    width: 10px;
    height: 10px;
  }

  .section-about-us {
    margin-bottom: 61px;
  }

  .section-about__container {
    width: 100%;
  }

  .section__heading {
    font-size: 24px;
    line-height: 29px;
  }

  .section-about__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-about__bottom {
    flex-direction: column;
  }

  .section-about__left {
    margin-bottom: 32px;
  }

  .section-about__img {
    width: 100%;
    height: 200px;
    margin-bottom: 4px;
    border-radius: 16px;
  }

  .section-about__left-wrapper {
    position: static;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    background-color: transparent;
  }

  .section-about__left-text {
    margin-bottom: 12px;
    margin-right: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: #000;
  }

  .section-about__btn {
    padding: 10px 42px;
    font-size: 12px;
    line-height: 15px;
    color: var(--FF9900);
    border: 2px solid var(--FF9900);
    border-radius: 8px;
  }

  .section-about__right_item {
    padding: 0;
    flex-direction: column;
    border: none;
  }

  .section-about__right_consultation {
    margin-bottom: 32px;
  }

  .section-about__right_item1, .section-about__right_item2 {
    flex-direction: column;
    background-position: left top;
    padding-top: 61px;
    padding-left: 0;
  }

  .section-about__right_item1 {
    background-image: url('../img/about1-320.svg');
  }

  .section-about__right_item2 {
    background-image: url('../img/about2-320.svg');
  }

  .section-about__right-heading {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  }

  .section-about__right-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  /* how */

  .section-how-do-we-work {
    margin-bottom: 60px;
  }

  .section-how__container {
    width: 100%;
  }

  .section-how__heading {
    margin-bottom: 20px;
  }

  .section-how__tabs {
    max-width: 100%;
    margin-bottom: 16px;
    justify-content: space-between;
  }

  .tabs__step:not(:last-child) {
    margin-right: 0;
  }

  .tabs__step {
    font-size: 14px;
    line-height: 17px;
    white-space: nowrap;
  }

  .step__content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .step__img-container {
    position: static;
    margin-bottom: 16px;
    width: 100%;
    height: 160px;
  }

  .step__content_img {
    border-radius: 16px;
  }

  .step__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .step__text {
    margin-bottom: 25px;
    font-size: 14px;
    line-height: 28px;
  }

  .section-how__buttons {
    position: static;
    display: flex;
  }

  .section-how__btn {
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-how__btn_more {
    padding: 12px 44px;
    margin-right: 10px;
    font-weight: 700;
  }
  
  .section-how__btn_treaty {
    padding: 11px 31px;
    font-weight: 400;
  }

  /* questions */
  .section-questions {
    margin-bottom: 60px;
  }

  .section-questions__container {
    width: 100%;
  }

  .section-questions__heading {
    margin-bottom: 16px;
  }

  .section-questions__question {
    padding: 30px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .section-questions__question {
    max-width: 241px;
  }
  .section-questions__span {
    display: block;
  }

  .section-questions__svg {
    width: 30px;
    height: 30px;
  }

  /* footer */
  .section-footer {
    padding-top: 33px;
    padding-bottom: 30px;
  }
  
  .section-footer__container {
    width: 100%;
    flex-direction: column-reverse;
  }

  .connection__list, .section-footer__right {
    display: none;
  }

  .section-footer__form {
    width: 100%;
    justify-content: center;
    padding-bottom: 16px;
    border-bottom: 1px solid #414141;
  }

  .section-footer__heading {
    margin-bottom: 20px;
  }

  .form__input {
    width: 100%;
    padding: 14px 0 14px 20px;
    font-size: 14px;
    line-height: 32px;
  }

  .form__input_message {
    margin-bottom: 25px;
  }

  .form__button {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form__btn {
    padding: 12px 28px;
    margin-right: 0;
    margin-bottom: 12px;
    font-size: 12px;
    line-height: 15px;
    border-radius: 8px;
  }

  .section-footer__connection {
    padding-top: 16px;
    margin-right: 0;
    justify-content: none;
    align-items: center;
  }

  .connection__logo {
    width: 131px;
    height: 42px;
    margin-bottom: 16px;
  }

  .connection__socials {
    display: flex;
  }

  .social__svg {
    width: 40px;
    height: 40px;
  }

  .connection__social_ok {
    margin-right: 16px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .section-header {
    height: 69px;
    margin-bottom: 40px;
  }

  .section-header__container {
    border-radius: 0 0 24px 24px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
  }

  .section-header__logo {
    margin: auto;
  }

  .section-header__logo, .section-header__logo-img {
    width: 150px;
    height: 48px;
  }

  .section-header__nav-list {
    display: none;
  }

  .section-header__burger {
    display: flex;
  }

  /* hero */
  .section-hero {
    margin-bottom: 35px;
  }

  .swiper {
    max-height: 662px;
    height: 662px;
    border-radius: 24px;
  }

  .swiper-slide {
    /* max-width: 383px; */
    max-height: 662px;
  }

  .swiper-slide img {
    border-radius: 24px;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .section-hero__content {
    max-width: 588px;
  }

  .section-hero__wrapper {
    bottom: 160px;
    left: 50px;
    right: 50px;
    max-width: 668px;
    /* margin-left: auto;
    margin-right: auto; */
    align-items: center;
    padding: 160px 40px 0 40px;
    border-radius: 24px;
  }

  .section-hero__heading {
    margin-bottom: 16px;
    font-size: 50px;
    line-height: 61px;
  }

  .section-hero__text {
    margin-bottom: 60px;
    font-size: 18px;
    line-height: 22px;
  }

  .section-hero__btn {
    max-width: 280px;
  }

  /* about */ 

  .section-about-us {
    margin-bottom: 80px;
  }

  .section-about__text {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 32px;
  }

  .section-about__bottom {
    flex-direction: column;
  }

  .section-about__left {
    margin-bottom: 28px;
  }

  .section-about__img {
    width: 100%;
    height: 650px;
    border-radius: 24px;
    object-fit: cover;
  }

  .section-about__left-wrapper {
    padding: 34px 40px;
    border-radius: 24px;
  }

  .section-about__left-text {
    margin-right: 47px;
  }

  .section-about__right_item {
    border-radius: 24px;
  }

  .section-about__right_consultation {
    padding: 34px 45px 34px 25px;
  }

  .section-about__right_pursuit {
    padding: 34px 47px 34px 25px;
  }

  .section-about__right_item1, .section-about__right_item2 {
    padding-left: 144px;
    background-size: 144px 99px;
  }

  /* how */ 

  .section-how-do-we-work {
    margin-bottom: 49px;
  }

  .step__content-wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .section-how__heading {
    line-height: 58px;
  }

  .section-how__tabs {
    max-width: 100%;
    margin-bottom: 50px;
    justify-content: space-between;
  }

  .tabs__step:not(:last-child) {
    margin-right: 0;
  }

  .tabs__step:nth-child(2) {
    margin-right: 0;
  }

  .step__img-container {
    position: static;
    margin-bottom: 38px;
    width: 100%;
    height: 284px;
    border-radius: 24px;
  }

  .step__content_img {
    border-radius: 24px;
  }

  .step__text {
    margin-bottom: 25px;
  }

  .section-how__buttons {
    position: static;
  }

  br {
    display: none;
  }

  /* questions */ 
  .section-questions {
    margin-bottom: 111px;
  }
  
  .section-questions__question {
    padding: 30px 0;
    font-size: 20px;
  }

  .question2, .question3 {
    max-width: 470px;
  }

  .question4 {
    max-width: 560px;
  }

  .question3, .question5 {
    align-items: normal;
  }

  /* footer */
  .section-footer__container {
    flex-direction: column-reverse;
  }

  .connection__list, .section-footer__right {
    display: none;
  }

  .form__input {
    width: 542px;
    padding: 14px 0 14px 24px;
  }

  .form__btn {
    padding: 19px 38px;
  }

  .section-footer__connection {
    margin-top: 50px;
    margin-right: 0;
  }

  .connection__logo {
    margin-bottom: 16px;
  }

  .connection__socials {
    display: flex;
  }

  .connection__social_ok {
    margin-right: 25px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 50px;
  }

  .section-header {
    margin-bottom: 40px;
  }

  .section-header__container {
    border-radius: 0 0 32px 32px;
    box-shadow: 0 5px 40px rgba(0, 0, 0, .1);
  }

  .section-header__logo {
    margin: auto;
  }

  .section-header__logo, .section-header__logo-img {
    width: 150px;
    height: 48px;
  }

  .section-header__nav-list {
    display: none;
  }

  .section-header__burger {
    display: flex;
  }

  /* hero */
  .section-hero {
    margin-bottom: 35px;
  }

  .swiper {
    max-height: 668px;
    height: 668px;
  }

  .swiper-slide {
    max-height: 668px;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
  }

  .section-hero__content {
    max-width: 770px;
  }

  .section-hero__wrapper {
    bottom: 160px;
    left: 0;
    right: 0;
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding: 160px 77px 0 77px;
  }

  .section-hero__heading {
    margin-bottom: 16px;
    font-size: 60px;
    line-height: 73px;
  }

  .section-hero__text {
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }

  .section-hero__btn {
    max-width: 280px;
  }

  /* about */

  .section-about-us {
    margin-bottom: 80px;
  }

  .section-about__text {
    margin-bottom: 60px;
  }

  .section-about__bottom {
    flex-direction: column;
  }

  .section-about__left {
    margin-bottom: 28px;
  }

  .section-about__img {
    width: 100%;
    height: 640px;
    border-radius: 32px;
    object-fit: cover;
  }

  .section-about__left-text {
    margin-right: 195px;
    max-width: none;
  }

  .section-about__right_consultation {
    padding: 64px 154px 64px 76px;
  }

  .section-about__right_pursuit {
    padding: 64px 156px 64px 76px;
  }

  .section-about__right_item1, .section-about__right_item2 {
    background-size: 190px 165px;
  } 

  /* how */ 

  .section-how-do-we-work {
    margin-bottom: 80px;
  }

  .section-how__steps {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .tabs__step:not(:last-child) {
    margin-right: 86px;
  }

  .tabs__step:first-child {
    margin-right: 85px;
  }

  .section-how__content {
    min-height: 689px;
  }

  .step__content {
    max-width: 576px;
  }

  .step__description {
    margin-right: 50px;
    max-width: 437px;
  }

  .step__img-container {
    width: 437px;
    height: 689px;
  }

  .step__content_img {
    border-radius: 32px;
  }

  .step__text {
    margin-bottom: 25px;
  }

  /* questions */ 
  .section-questions {
    margin-bottom: 80px;
  }
  
  .section-questions__question {
    padding: 30px 0;
    font-size: 20px;
  }

  .question2 {
    max-width: 639px;
  }

  /* footer */
  .section-footer__right {
    display: none;
  }

  .form__input {
    width: 542px;
    padding: 14px 0 14px 24px;
  }

  .form__btn {
    padding: 19px 38px;
  }

  .section-footer__connection {
    margin-right: 132px;
  }

  .connection__socials {
    display: flex;
  }

  .connection__social_ok {
    margin-right: 25px;
  }
}

@media (min-width: 769px) and (max-width: 980px) {
  /* how */ 
  .section-how-do-we-work {
    margin-bottom: 80px;
  }

  .section-how__steps {
    max-width: 100%;
    margin-bottom: 50px;
  }

  .tabs__step:not(:last-child) {
    margin-right: 86px;
  }

  .tabs__step:first-child {
    margin-right: 85px;
  }

  .step__content {
    max-width: none;
  }

  .section-how__step {
    padding-right: 0;
    padding-top: 322px;
    background-position: top;
    background-size: 100% 284px;
    border-radius: 32px;
  }

  /* footer */
  .section-footer__container {
    flex-direction: column-reverse;
  }

  .connection__list, .section-footer__right {
    display: none;
  }

  .form__input {
    width: 542px;
    padding: 14px 0 14px 24px;
  }

  .form__btn {
    padding: 19px 38px;
  }

  .section-footer__connection {
    margin-top: 50px;
    margin-right: 0;
  }

  .connection__logo {
    margin-bottom: 16px;
  }

  .connection__socials {
    display: flex;
  }

  .connection__social_ok {
    margin-right: 25px;
  }
}